

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;

    font-family: Poppins,sans-serif; /* estilo da fonte */
}

#formulario p{
    text-align: center;
    margin: 6px;
}

#formulario label{   
    display: inline-block;
    width: 70px;
    text-align: right;
}

#formulario{
    border: 1px solid grey;
    padding: 16px;
    border-radius: 4px;

    background-color: rgba(255, 255, 255, 0.231);
    backdrop-filter: blur(4px); /* efeito borrão */
}

.home{
    flex-direction: column;
    justify-content: start;
}

.home h1{
    letter-spacing: 10px;
    text-align: right;
    color: #fefefe;
    text-transform: uppercase;
    text-decoration: overline;
    text-shadow: 10px 0px 8px red,
                -10px 0px 8px blue; /* add sombra ao texto */
}

.home h2{
    color: #fefefe;
    word-spacing: 1rem;
}

.home form{
    background-color: #f9f1f9;
    background-image: linear-gradient(0deg, #f9f1f9 0%, #dcf0ee 50%, #ffffff 100%);
    padding: 8px;
    
    border: #edb377 8px solid;
    border-radius: 8px;
    box-shadow: 0 0 8px #edb377;
}

.home fieldset{
    padding: 8px;
    border-radius: 4px;
    border-color: #edb377;
}